:root {
  --base0: hsl(0, 0%, 2%);
  --base1: hsl(0, 0%, 8%);
  --base2: hsl(0, 0%, 12%);
  --base3: hsl(0, 0%, 16%);
  --base4: hsl(0, 0%, 22%);
  --base5: hsl(0, 0%, 30%);

  --base6: hsl(0, 0%, 45%);
  --base7: hsl(0, 0%, 70%);
  --base8: hsl(0, 0%, 95%);
  
  --red: hsl(345, 95%, 70%);
  --orange: hsl(25, 100%, 65%);
  --yellow: hsl(50, 95%, 70%);
  --green: hsl(135, 55%, 65%);
  --blue: hsl(190, 75%, 65%);
  --purple: hsl(250, 60%, 70%);
}
